.om-meg-innhold {
padding:14px;
max-width:100%;
border-radius: 13px;
text-align:center;
justify-content:center;
border: 8px solid darkgoldenrod;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sophia-img {
  border-radius: 10px;
  width: 500px;
  height: 200px;
}

a {
  color:#000;
}