article{
    display: flex;
    background-color: white;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1em;
    color: black;
    width: 350px;
    border-radius: 1em;
    h2{
        color: black;
        width: 100%;
    }
    .Info{
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 60%;
        h3{
            margin: 0;
        }
        a{
            color: rgb(17, 0, 255);
        }
    }
}
img{
    width: 100px;
    height: 100px;
}
#AK{
    display: flex;
    background-color: white;
    padding: 1em;
    margin: 1em 0;
    color: black;
    gap: 1em;
    article{
        border: 2px solid black;
        border-radius: 0%;
        width: 400px;
    }
    h2{
        color: black;
        text-align: start;
    }
}
